# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app
1.프로젝트설정/Output
1.프로젝트설정/Engine/x64
1.프로젝트설정/Client/x64
2.장치 초기화/x64
2.장치 초기화/Output
2.장치 초기화/Engine/x64
2.장치 초기화/Client/x64
3.삼각형띄우기/Client/x64
3.삼각형띄우기/Engine/x64
3.삼각형띄우기/Output
4.삼각형 2개/Client/x64
4.삼각형 2개/Engine/x64
4.삼각형 2개/Output
5.Table 사용해서 삼각형 2개/Client/x64
5.Table 사용해서 삼각형 2개/Engine/x64
5.Table 사용해서 삼각형 2개/Output
6.인덱스 버퍼/Client/x64
6.인덱스 버퍼/Engine/x64
6.인덱스 버퍼/Output
6.텍스처 맵핑/Client/x64
6.텍스처 맵핑/Engine/x64
6.텍스처 맵핑/Output
6.텍스처 맵핑/.vs
8. 깊이스탠실뷰(DSV)/Client/x64
8. 깊이스탠실뷰(DSV)/Engine/x64
8. 깊이스탠실뷰(DSV)/Output
9.인풋과 타이머/Client/x64
9.인풋과 타이머/Engine/x64
9.인풋과 타이머/Output
